$brand-logo-color: #ffffff;
$color: #222222;

a {
    color: $color;
    text-decoration: none;

    &:hover {
        color: darken($color, 10%);
    }
}

.brand {
    .brand-logo {
        color: $brand-logo-color;
    }
}