body {
    font-size: 10pt;
    font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-family: Roboto, RobotoDraft, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 3px 0 6px;

    small {
        display: block;
        font-size: 14px;
    }
}