.clearfix {
    clear: both;
}

.top {
    vertical-align: top;
}

// angular hidden element
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

// loader
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(34, 34, 34, 0.2);
    border-right: 1.1em solid rgba(34, 34, 34, 0.2);
    border-bottom: 1.1em solid rgba(34, 34, 34, 0.2);
    border-left: 1.1em solid #222222;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}