@import 'reset';
@import 'links';
@import 'typo';
@import 'utils';

$text-color: #222222;
$lt-background-color: #efeff6;

body {
    margin: 8px;
    color: $text-color;
    overflow-y: scroll;

    // sweet alert override
    &.stop-scrolling {
        height: 100%;
        overflow: auto
    }
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-color: #5f819d;
    padding: 5px;

    .brand-name {
        display: inline-block;
        font-weight: bold;
        float: left;
    }

    .links {
        display: inline-block;
        text-transform: lowercase;
        margin: 0 0 0 10px;
        padding: 0;
        list-style: none;
        float: left;

        li {
            float: left;
            display: inline-block;

            &:not(:last-child):after {
                margin-left: 5px;
                margin-right: 5px;
                content: '|';
                font-weight: 200;
                color: $text-color;
            }
        }

        &.links-right {
            float: right;
        }
    }
}

.content {
    width: 100%;
    background-color: $lt-background-color;
    padding: 5px;
}

.lightning-talk {
    width: 100%;
    padding: 5px 0;

    .vote {
        float: left;
        margin-right: 5px;
        height: 22px;
        color: lighten($text-color, 40%);
        text-align: center;
        width: 28px;

        .vote-up {
            font-size: 8pt;

            &.disabled {
                display: none;
                a {
                    opacity: .2;
                    cursor: not-allowed;
                }
            }

            a {
                color: lighten($text-color, 40%);

                &:hover {
                    color: lighten($text-color, 30%);
                }
            }
        }

        .vote-counter {
            &.with-margin {
                margin-top: 6px;
            }
        }
    }

    .data {
        overflow: auto;
    }

    .description {
        display: inline-block;
        margin-top: 4px;
        text-align: justify;
        background-color: lighten($lt-background-color, 3%);
        border: 1px solid darken($lt-background-color, 5%);
        padding: 5px;
        transition: all linear 0.3s;
        margin-bottom: 5px;

        &.ng-hide {
            opacity: 0;
        }
    }

    .info {
        font-size: 10px;
        color: lighten($text-color, 40%);
    }
}

.stylized {
    max-width: 600px;
    box-sizing: content-box;

    label {
        display: inline-block;
        margin-bottom: 2px;
    }

    input, textarea {
        width: 100%;
        padding: 5px;
        color: #222222;
        font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
        box-sizing: border-box;
    }

    textarea {
        height: 100px;
    }
}

@media screen and (max-width: 767px) {
    .lightning-talks .lightning-talk .data {
        max-width: 80%;
    }
}

