<div class="header">
    <div class="brand-name">
        <a href="/">Lightning Talks</a>
    </div>
    <ul class="links links-left">
        <li><a href="/">Home</a></li>
        <li><a href="/newest">Newest</a></li>
        <li ng-if="authenticatedUser != null"><a href="/my-contribution">My contribution</a></li>
        <li ng-if="authenticatedUser != null"><a href="/new">Submit</a></li>
    </ul>
    <ul class="links links-right">
        <li ng-if="authenticatedUser == null"><a href="/login">Login</a></li>
        <li ng-if="authenticatedUser != null"><a ng-href="#" ng-click="logout()">Logout</a></li>
    </ul>
    <div class="clearfix"></div>
</div>
