<h1>
    Login
    <small>Please log-in to continue!</small>
</h1>
<form class="stylized" ng-submit="login(credentials)">
    <p><label for="login">Login</label><input type="text" ng-model="credentials.username" id="login"></p>
    <p><label for="password">Password</label><input type="password" ng-model="credentials.password" id="password"></p>
    <p>
        <button type="submit">submit</button>
    </p>
</form>
<h3>or</h3>
<h1>
    Registration
    <small>Please register if you have no account!</small>
</h1>
<form class="stylized" ng-submit="create(user)">
    <p><label for="new-login">Login</label><input type="text" ng-model="user.username" id="new-login"></p>
    <p><label for="new-email">E-mail (Optional)</label><input type="text" ng-model="user.email" id="new-email"></p>
    <p><label for="new-password">Password</label><input type="password" ng-model="user.password" id="new-password"></p>
    <p><label for="new-password-confirmation">Repeat Password</label><input type="password" ng-model="user.passwordConfirmation" id="new-password-confirmation"></p>
    <p>
        <button type="submit">submit</button>
    </p>
</form>
