<div class="lightning-talks" ng-init="getMyLightningTalks()">
    <div class="lightning-talk" ng-repeat="lightningTalk in lightningTalks | orderBy:['-created_at', '-votes_count']">
        <div class="vote">
            <div class="vote-counter with-margin">
                {{ lightningTalk.votes.length }}
            </div>
        </div>
        <div class="data">
            <div class="title"><a href="" ng-click="showDescription = ! showDescription">{{ lightningTalk.title }}</a>
            </div>
            <div class="description" ng-show="showDescription">{{ lightningTalk.description }}</div>
            <div class="info">
                <span am-time-ago="lightningTalk.created_at"></span> by {{ lightningTalk.user.username }}
            </div>
        </div>
    </div>
    <p ng-show="!lightningTalks.length">You did not submit any lightning talks yet =[</p>
</div>