<h1>
    Submit Lightning Talk
    <small>After submitting your lightning talk will be visible to the public</small>
</h1>
<form class="stylized" ng-submit="addLightningTalk(lightningTalk)">
    <p><label for="title">Title</label><input type="text" ng-model="lightningTalk.title" id="title"></p>
    <p><label class="top" for="description">Description</label><textarea ng-model="lightningTalk.description" id="description"></textarea></p>
    <p>
        <button type="submit">submit</button>
    </p>
</form>
