<div class="lightning-talks">
    <div class="lightning-talk" ng-repeat="lightningTalk in lightningTalks | orderBy:order">
        <div class="vote">
            <div class="vote-up" ng-class="{ disabled : lightningTalk.vote_disabled }" ng-controller="votesCtrl">
                <a href="" ng-click="voteUp(lightningTalk)"><i class="fa fa-chevron-up"></i></a>
            </div>
            <div class="vote-counter" ng-class="{ 'with-margin' : lightningTalk.vote_disabled }">
                {{ lightningTalk.votes_count }}
            </div>
        </div>
        <div class="data">
            <div class="title"><a href="" ng-click="showDescription = ! showDescription">{{ lightningTalk.title }}</a>
            </div>
            <div class="description" ng-show="showDescription">{{ lightningTalk.description }}</div>
            <div class="info">
                <span am-time-ago="lightningTalk.created_at"></span> by {{ lightningTalk.user.username }}
            </div>
        </div>
    </div>
    <p ng-hide="lightningTalks.length" ng-cloak>No lightning talks yet =[<br/>Wanna be the first? Submit yours!</p>
</div>